* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.underline {
  text-decoration: underline; }

.landing-body {
  height: 95vh;
  width: 100vw;
  background: url("./img/typewriter.jpg") no-repeat center center/cover; }
  .landing-body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    background-color: rgba(187, 187, 187, 0.5); }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: .9;
  padding: 2rem;
  z-index: 2;
  width: 60%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); }
  .text-box__heading {
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto; }
  .text-box__lead {
    font-size: 1.4rem;
    margin: 1rem auto; }

.links {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around; }

.link {
  border: 2px solid #800080;
  outline: none;
  text-decoration: none;
  background-color: #800080;
  color: white;
  padding: .5rem;
  transition: all .3s ease-in;
  font-weight: 500;
  font-size: 1.4rem;
  box-shadow: 0px 2px 3px black;
  min-width: 9rem;
  text-align: center;
  cursor: pointer; }
  .link:hover {
    border: 2px solid #4f0259;
    background-color: #4f0259;
    color: #fff; }

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #800080;
  margin-bottom: 1.4rem;
  max-height: 5rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem; }

.nav-link {
  margin: .6rem 1.6rem; }
  .nav-link a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }

.logo {
  height: 6rem;
  margin: .3rem 1rem; }

.active {
  color: #8fbab3 !important; }

.query-background {
  background-color: #f8f8f8;
  overflow: hidden; }

.query-form {
  margin: auto;
  text-align: center; }

.form .item {
  margin: 2.6rem auto;
  width: 60%; }
  .form .item * {
    margin: .5rem auto; }
  .form .item label {
    font-size: 2rem;
    font-weight: 500; }
  .form .item input {
    width: 60%;
    height: 2rem;
    padding-left: .4rem;
    font-size: 1rem; }
    .form .item input:focus {
      border: .1rem solid teal;
      box-shadow: 0px 0px 2px blue; }

.section-header {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .1rem; }

.section-divider {
  width: 85%;
  margin: 2rem auto;
  height: .3rem;
  background-color: teal;
  border: none; }

.description {
  font-size: 1.2rem; }

.pledge {
  width: 60%;
  margin: 0 auto;
  border: .2rem dashed teal;
  margin-bottom: 2rem;
  padding: 1rem; }
  .pledge * {
    margin: .4rem auto; }
  .pledge-link {
    -webkit-appearance: none; }
  .pledge__header {
    font-size: 2rem; }
  .pledge__lead {
    font-size: 1.2rem; }

.template {
  min-height: 95vh; }

.template-container {
  display: flex; }

.template__div {
  flex: 1;
  border-right: .2rem dashed teal; }

.template__text {
  width: 90%;
  margin: auto;
  margin-top: 1rem; }

.template__header {
  text-align: center; }

.instructions {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .instructions__description {
    width: 90%;
    margin: auto;
    margin-top: 1rem; }

.kofiLink {
  text-align: center; }

.kofiButton {
  height: 2rem; }

.example-container {
  display: flex;
  margin-bottom: 1rem; }

.example {
  flex: 1;
  width: 70%;
  border-right: .2rem dashed teal;
  position: relative; }
  .example__header {
    text-align: center; }
  .example__buttons-container {
    display: flex;
    flex-direction: row-reverse; }
  .example__buttons {
    margin: auto 1rem; }
    .example__buttons button {
      margin: auto .5rem;
      background-color: lightgray;
      color: white;
      border: 0;
      padding: .2rem 1rem;
      font-size: 1.4rem;
      cursor: pointer;
      font-weight: 700; }
      .example__buttons button::-moz-focus-inner {
        border: 0; }

.placeholders--1 {
  background-color: #dae8e6; }

.placeholders--2 {
  background-color: #c3e1dc; }

.template-examples {
  flex: 1;
  width: 70%; }

.template-examples__text {
  width: 90%;
  margin: 1rem auto;
  line-height: 1.6; }

.example-left {
  margin-top: 2.2rem; }

.advice-background {
  background-color: #f8f8f8;
  padding-bottom: 1rem; }

.advice-body {
  width: 60%;
  margin: auto; }

.advice-header {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 2rem; }

.advice-text-block {
  margin: 1rem auto; }
  .advice-text-block p {
    margin: 1rem auto; }

.advice-list {
  margin-left: 4rem; }
  .advice-list li {
    margin: .2rem auto; }

.footer {
  width: 100%;
  min-height: 5vh;
  background-color: grey;
  text-align: center;
  color: #fff; }
  .footer__text {
    padding: .4rem 0; }

@media (max-width: 850px) {
  .text-box {
    width: 90%; }
  .navbar {
    max-height: 3rem; }
  .logo {
    height: 4rem; }
  .nav-link {
    margin: .6rem 1rem; }
    .nav-link a {
      font-size: 1rem; } }

@media (max-width: 425px) {
  .text-box {
    width: 100%; }
    .text-box__heading {
      font-size: 2rem; }
    .text-box__lead {
      font-size: 1rem; }
  .link {
    font-size: 1rem;
    min-width: 7rem; }
  .section-header {
    font-size: 2rem; }
  .form .item {
    width: 90%; }
    .form .item label {
      font-size: 1.5rem; }
  .description {
    font-size: 1rem; }
  .pledge {
    width: 90%; }
  .advice-header {
    font-size: 2rem; }
  .advice-body {
    width: 90%; } }
